#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  margin-top:53px;
  transition: all 0.4s ease 0s;
}
.header{
  text-align: center;
  text-decoration-color: white;
  background-color: #B2BEB5;
  width:100%;
}
.header-text{
  color: white;
  font-size:35;
  font-family: monospace;
}
#page-content-wrapper {
  width: 100%;
}
.tableView{
  margin-top:200px;
  margin-left: 300px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:100%) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}
.btn-custom{
  width:250px;
}
